<main>
  <h1>Admin Dashboard</h1>

  <table>
    <tbody>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Is Admin?</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.first_name, edit_user_path(@users) %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= user.is_admin? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
