<main class="container w-50">

  <h3>Change Password</h3>

  <%= form_tag @user do |f| %>
    <% if @user.errors.present? %>
      <p><%= @user.errors.full_messages.join(', ') %></p>
    <% end %>

    <div class="form-control">
      <%= f.label :current_password, class: 'col-sm-4 control-label' %>
      <%= f.password_field :current_password, class: 'form-control' %>
    </div>

    <div class="form-control">
      <%= f.label :new_password, class: 'col-sm-4 control-label' %>
      <%= f.password_field :new_password, class: 'form-control' %>
    </div>

    <div class="form-control">
      <%= f.label :new_password_confirmation 'col-sm-4 control-label' %>
      <%= f.password_field :new_password_confirmation 'form-control' %>
    </div>

    <%= f.submit 'btn btn-primary' %>
</main>
