<main class="container postAll">

    <h3 class="title_page"><%= @liked ? 'Liked Posts' : 'All Posts' %></h3>

    <% if !@liked %>
      <div class="post-container">
        <% @posts.each do |post| %>
          <div class="post-list-item">
            <img src="/assets/wordpress-post.jpg" alt="Post Image">
            <h4><%= link_to post.title, post_path(post) %></h4>
            <p class="card-text"><%= post.body %></p>
          </div>
        <% end %>
        <aside class="most-liked">
          <h3 class="title-most-liked">Most Liked</h3>
          <ol>
            <% @liked_posts.each do |post| %>
              <li><%= link_to post.title, post_path(post) %></li>
            <%end%>
          </ol>
        </aside>
      </div>

    <% else %>
      <% @posts.each do |post| %>
        <div class="mult-post col-md-12">
          <%= link_to post.title, post_path(post) %>
        </div>
      <% end %>
    <% end %>
</main>
