<main>


  <h4><%= @post.title %></h4>
  <img src="/assets/envelope-silhouette.jpg" alt="Post Image" class="post-img">

  <p><%= @post.body %></p>


  <p>By <strong><%= @post.user&.full_name || "[deleted]" %></strong></p>

  <p><strong>Created At:</strong> <%= time_ago_in_words(@post.created_at) %> ago</p>
  <p><strong>Update At:</strong> <%= time_ago_in_words(@post.updated_at) %> ago</p>

  <p>
  <% if can?(:like, @post) && user_signed_in? %>
    <% if @user_like %>
      <%= link_to fa_icon("thumbs-up 2x"), like_path(@user_like), method: :delete %>
    <% else %>
      <%= link_to fa_icon("thumbs-o-up 2x"), post_likes_path(@post), method: :post %>
    <% end %>
  <% end %>
    (<%= pluralize(@post.likes.count, 'likes') %>)
  </p>

  <% if can?(:manage, @post) %>
    <%= link_to '| Edit | ', edit_post_path(@post) %>

    <%=
      link_to(
        ' | Delete |',
        post_path(@post),
        method: :delete,
        data: {confirm: 'Are you sure?'})
    %>
  <% end %>

  <h3>Comments</h3>

  <%= form_for [@post, @comment] do |f| %>
    <% if @comment.errors.present? %>
      <p>
        <%= @comment.errors.full_messages.join(', ') %>
      </p>
    <% end %>

    <div>
      <%= f.text_area :body %>
    </div>

    <%= f.submit %>
  <% end %>

  <div class="comment-list">
      <% @comments.each do |comment| %>
        <div class="comment-list-item">
          <p><%= comment.body %></p>
          <p><%= "By #{@post.user&.full_name}" || "[deleted]" %></p>
          <p>
            <strong>Created At:</strong>
            <%= time_ago_in_words(comment.created_at) %> ago
          </p>
          <% if can?(:manage, @post) %>
            <%= link_to(
              'Delete',
              post_comment_path(@post, comment),
              data: {confirm: 'Are you sure?'},
              method: :delete
            ) %>
          <% end %>

        </div>
      <% end %>
  </div>


</main>
