<!DOCTYPE html>
<html>
  <head>
    <title>Blog Post</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-light d-inline d-sm-inline-flex">
        <a class="navbar-brand" href="/">
          <img src="/assets/post_imag.jpeg" height="30" class="d-inline-block align-top">
        </a>
        <div class="menu float-right">
          <a href="/">Home</a>
          |
          <%= link_to 'New Post', new_post_path %>
        </div>
    </nav>
    <hr ="menu-bar">
  </header>



    <%= yield %>
  </body>
</html>
